.service-box2 {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.938);
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.service-box3 {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.938);
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.button2 {
    margin: 15px 0px;
}

.button-display {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.services-flex {
    display: flex;
    justify-content: space-between;
}

.services-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.services-book::-webkit-scrollbar {
    background: transparent;
    display: none;
}

.service-desc {
    margin: 0px 15px;
    height: 65%;
}

.edit-display2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}