.product-box {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid rgba(87, 87, 87, 0.486);
    border-style: solid;
    margin: 10px;
    border-radius: 5px;
}

.product-image {
    width: 250px;
    height: 300px;
}

.center-product-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 400px;
}

.product-desc {
    width: 80%;
}

.product-title {
    width: 80%;
    margin: 20px;
}

.product-edit-delete {
    display: flex;
    justify-content: space-around;
}