

.reviews-main {
    width: 90%;
    height: 100vh;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
    border: 4px solid black;
    border-radius: 5px;
}

.create-review {
    width: 50%;
    height: 20vh;
    background-color: gray;
    border-radius: 80px;
    margin: 5px;
}

.submit {
    background-color: lightgray;
    margin-top: 10px;
}

.review-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-title {
    border-bottom: 2px solid black;
    color: black;
}
