.flex-review-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-box {
    width: 380px;
    height: 500px;
    background-color: white;
    /* border: 8px solid gray;
    margin: .5em; */
    /* grid-column: auto;
    grid-row: auto; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* align-content: space-around; */
    font-family: 'Arvo', serif;
    border-bottom: 3px solid gray;
    border-radius: 10px;
    overflow: visible;
    position: relative;
    margin: 10px;
}

.desc {
    border-top: 1px solid gray;
    width: 80%;
    height: 68%;
    overflow: hidden;
    overflow-y:scroll;
}

.desc::-webkit-scrollbar {
    background: transparent;
    display: none;
}

h4 {
    border-bottom: 1px solid rgb(216, 207, 83);
    margin-top: 45px;
}

.rating {
    margin-bottom: 30px;
}

.absolute1 {
    position: absolute;
    top: 3px;
    right: 3px;
}

.absolute2 {
    position: absolute;
    top: 3px;
    left: 3px;
}

.button-margin {
    margin-top: 10px;
}

@media(max-width: 414px) {
    .reviews-box {
        width: 357px;
        margin: 5px;
    }
}