.flex-review-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-box {
    width: 100%;
    height: 100%;
    background-color: white;
    /* border: 8px solid gray;
    margin: .5em; */
    /* grid-column: auto;
    grid-row: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-content: space-around; */
    font-family: 'Arvo', serif;
}

.desc {
    border-top: 1px solid gray;
    width: 200px;
}

h4 {
    border-bottom: 1px solid gray;
}

.rating {
    margin-bottom: 30px;
}