Link {
  border-bottom: none;
  text-decoration: none;
  text-decoration-style: none;
}

.logo {
    border-radius: 20px;
    width: 200px;
    height: 85px;
    margin-left: 60px;
  }
  
  .logo:hover {
    transition: translate-x(10px);
  }
  
  .top-header {
    /* background-image: url('https://images.homedepot-static.com/productImages/f5f6a666-c2ab-47a5-a151-362e0ea8cc2f/svn/advantage-wallpaper-2799-02484-90sam-64_1000.jpg'); */
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgb(175, 206, 0); */
    background-color: rgba(199, 199, 199, 0.6);
    position: relative;
    /* position: fixed; */
    top: 0;
    z-index: 10;
  }
  
  .top-header-links {
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin-right: 35px;
    font-family: 'Comfortaa', cursive;
    
  }
  
  .button {
    border: none;
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
  }
  .button:hover {
    border: 1px solid rgba(109, 109, 109, 0.466);
  }

  .space {
    margin: 5px;
    width: 60px;
  }
  
  .link {
    border-bottom: 2px solid black;
  }

  .link:hover {
    border-bottom: 2px solid white;
  }
  .form-box {
    width: 40px;
    height: 40px;
    background-color: gray;
    position: absolute;
  }

  .absolute {
    position: relative;
  }

  .sign-up {
    position: absolute;
    top: calc(50vh - 150px);
    right: calc(50vw - 250px);
    width: 500px;
    height: 300px;
    background-color: lightgray;
    transition: .75s;
    border-radius: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid gray;
    z-index: 10;
}

.welcome {
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  border-bottom: 2px solid gold;
}