Link {
  border-bottom: none;
  text-decoration: none;
  text-decoration-style: none;
}

.logo {
    border-radius: 20px;
    width: 150px;
    height: 65px;
    margin-left: 60px;
  }
  
  .logo:hover {
    /*  */
  }
  
  .top-header {
    /* background-image: url('https://images.homedepot-static.com/productImages/f5f6a666-c2ab-47a5-a151-362e0ea8cc2f/svn/advantage-wallpaper-2799-02484-90sam-64_1000.jpg'); */
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgb(175, 206, 0); */
    background-color: rgb(250, 219, 219);
    position: relative;
    /* position: fixed; */
    top: 0;
    z-index: 10;
    border-bottom: 2px solid lightgray;
  }

  .login {
    position: absolute;
    top: 15vh;
    right: 45px;
    width: 250px;
    height: 150px;
    background-color: lightgray;
    border-radius: 10px;
    border: 2px solid gray;
    transition: .75s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
  
  .top-header-links {
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin-right: 35px;
    font-family: 'Comfortaa', cursive;
    
  }

  .top-header-links2 {
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin-right: 35px;
    font-family: 'Comfortaa', cursive;
    display: none;
    
  }
  
  .button {
    border: none;
    background: none;
    /* background-color: rgba(128, 128, 128, 0.205); */
    border-left: 1px solid black;
    margin-left: 2px;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
  }
  .button:hover {
    font-weight: 800;
    color: rgb(221, 203, 101);
  }

  .space {
    margin: 5px;
    width: 60px;
  }
  
  .link {
    border-left: 2px solid black;
    font-size: 14px;
    padding-left: 2px;
  }

  .link:hover {
    border-bottom: 2px solid rgb(216, 207, 83);
  }
  .form-box {
    width: 40px;
    height: 40px;
    background-color: gray;
    position: absolute;
  }

  .absolute {
    position: relative;
  }

  .sign-up {
    position: absolute;
    top: calc(50vh - 150px);
    right: calc(50vw - 250px);
    width: 500px;
    height: 300px;
    background-color: lightgray;
    transition: .75s;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
    z-index: 10;
}

.welcome {
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  border-bottom: 2px solid rgb(216, 207, 83);
}

.hamburger {
  color: black;
  font-size: 35px;
  margin-left: 80%;
}

.slider {
  width: 100%;
  height: 10vh;
  background-color: rgb(250, 219, 219);
  position: absolute;
  border-bottom: 1px solid lightgray;
  top: 14vh;
  transition: .5s;
}

.gone {
  top: -50vh;
  transition: 1s;
}

@media (max-width: 414px) {
  .top-header-links {
    display: none;
  }
  .logo {
    margin-left: 30px;
  }
  .top-header-links2 {
    display: block;
  }
  .welcome {
    display: none;
  }
  .login {
    right: 75px;
    top: 160px;
  }
}

@media(min-width: 1400px) {
  .logo {
    width: 200px;
    height: 100px;
  }
}