.content-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14vh;
}

.create-gallery {
    width: 100%;
    height: 55vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.flex-gall {
    display: flex;
    flex-direction: column;
}

.create-gall {
    width: 100px;
}

.gallery-test-image {
    margin-top: 20vh;
}