.gallery-box {
    margin: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 70%;
    display: flex;
    
}

.img-size {
    width: 400px;
    height: 350px;

}

.flex-pic {
    display: flex;
}

.relative {
    position: relative;
}

.absolute2 {
    position: absolute;
    color: black;
    font-size: 20px;
    
}

.flex-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.gallery-title {
    border-bottom: 2px solid black;
    font-size: 30px;
    margin: 30px;
}

.gallery-desc {
    margin: 0px 10%;
}

.gallery-delete {
    margin: 1%;
    height: 20px;
}

@media(max-width: 414px) {
    .gallery-box {
        flex-direction: column;
        width: 100%;
        align-items: center;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }
    .img-size {
        width: 100%;
        height: 400px;
    }

    .flex-desc {
        width: 98%;
    }

    .gallery-delete {
        margin: 20px;
    }

    .gallery-title {
        border-bottom: 2px solid black;
    }
}