.gallery-box {
    margin: 5px;
    border-top: 1px solid black;
    width: 70%;
    display: flex;
    
}

.img-size {
    width: 400px;
    height: 350px;

}

.flex-pic {
    display: flex;
}

.relative {
    position: relative;
}

.absolute2 {
    position: absolute;
    color: white;
    
}

.flex-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.gallery-title {
    border-bottom: 2px solid black;
    margin-bottom: 3%;
}

.gallery-desc {
    margin: 0px 10%;
}

.gallery-delete {
    margin: 1%;
    height: 20px;
}