.bottom-footer {
    width: 100%;
    height: 10vh;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid black;
    margin-top: 10px;
}

.facebook {
    color: gray;
}

.big {
    font-size: 50px;
    margin-left: 3em;
}

.icons {
    display: flex;
}

.footer-icons:hover {
    color: white;

}

.border {
    border-bottom: 1px solid black;

    outline: none;
}