
.bottom-footer {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px solid black;
    font-family: 'Comfortaa', cursive;
}

.facebook {
    color: gray;
}

.big {
    font-size: 50px;
    margin: 0px 15px;
}

.icons {
    display: flex;
}

.footer-icons:hover {
    color: rgb(216, 207, 83);

}

.bottom-footer {
    border-top: 2px solid gray;
}


.footer-icons {
    border: none;
}

.open-time {
    font-size: 10.5px;
}

@media(max-width: 414px) {
    .bottom-footer {
        flex-direction: column;
    }
    .footer-address {
        margin: 10px;
    }

    .open-time {
        font-size: 14px;
    }
}