.aboutme-display {
    width: 100%;
    background-color: snow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arvo', serif;
    font-size: 13px;
}

.carlee {
    width: 400px;
    border-radius: 10px;
    border: 10px solid black;
}

.desc-display {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 20px;
}

@media(max-width: 414px) {
    .aboutme-display {
        flex-direction: column;
    }
    .desc-display {
        width: 80%;
    }

    .carlee {
        margin-bottom: 20px;
    }
}